QTabBar {
  height: %1px;
  font-size: %11px;
  background-color: %2;
  font-family: %12;
}

QTabBar::tab {
  height: %1px;
  background-color: %4;
  color: darkgray;
  border-bottom: 2px solid %4;
  font-size: %11px;
  font-family: %12;
}


QTabBar::tab:selected {
  background-color: %2;
  color: %3;
  border-bottom: 2px solid %5;
  font-size: %11px;
  height: %1px;
  font-family: %12;

}

QTabBar:close-button
{
  image: url(":/images/images/close-button.png");
}

QTabBar:close-button:hover
{
  background-color: %2;
  border: 1px solid %2;
  border-radius: 5px;
  image: url(":/images/images/close-button.png");
}

QTabBar:close-button:hover:selected
{
  background-color: %4;
  border: 1px solid %4;
  border-radius: 5px;
  image: url(":/images/images/close-button.png");
}

QMenu
{
  background-color: %6;
  color: %3;
  padding: 0px;
  font-family: %12;
}

QMenu::item:selected
{
  color: %3;
  background-color: %7;
}

QMenuBar
{
  background-color: %6;
  color: %3;
  font-family: %12;
}
QMenuBar::item:selected
{
  background-color: %7;
  color: %3;
  font-family: %12;
}

/*QTextEdit
{
  background-color: %2;
  font-size: 14px;
  border: 1px solid %2;
  color: %3;
}*/

QPushButton
{
  background-color: %2;
  border: 1px solid %4;
  border-radius: 10px;
  font-size: %11px;
  color: %3;
  font-family: %12;
}

QPushButton:hover
{
  background-color: %2;
  border: 1px solid %4;
  border-bottom: 2px solid %5;
  border-radius: 10px;
  font-size: %11px;
  color: %3;
  font-family: %12;
}

QPushButton:pressed
{
  background-color: %5;
  border: 1px solid %5;
  border-radius: 10px;
  font-size: %11px;
  color: %3;
  font-family: %12;
}

QPushButton:!enabled
{
  background-color: %2;
  color: gray;
  font-size: %11px;
  font-family: %12;
}

QCheckBox {
    font-size: %11px;
    color: %3;
    font-family: %12;
}

QCheckBox::!enabled {
    font-size: %11px;
    font-family: %12;
    color: gray;
}

QCheckBox::indicator:unchecked {

    border: 1px solid %4;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    color: %3;
}

QCheckBox::indicator:unchecked:hover {

    border: 1px solid %4;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    color: %3;
}

QCheckBox::indicator:checked {
    background-color: %5;
    border: 1px solid %5;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    image: url(%9);
    color: %3;
}

QCheckBox::indicator:checked:!enabled {
    background-color: gray;
    border: 1px solid gray;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    image: url(%9);
    color: %3;
}

QRadioButton {
    font-size: %11px;
    background-color: %2;
    color: %3;
    font-family: %12;
}

QRadioButton::indicator:unchecked {
    background-color: %2;
    border: 1px solid %4;
    border-radius: 9px;
    width: 16px;
    height: 16px;
    color: %3;
}

QRadioButton::indicator:unchecked:hover {
    background-color: %4;
    border: 1px solid %4;
    border-radius: 9px;
    width: 16px;
    height: 16px;
    color: %3;
}

QRadioButton::indicator:checked {
    background-color: %5;
    border: 1px solid %5;
    border-radius: 9px;
    width: 16px;
    height: 16px;
    image: url(%10);
    color: %3;
}


QMessageBox
{
  background-color: %2;
  color: %3;
  font-family: %12;
}

QMessageBox QLabel
{
  color: %3;
  font-size: 14px;
  font-size: %11px;
  font-family: %12;
}

QMessageBox QPushButton
{
  width: 80px;
  height: 30px;
  color: %3;
  font-size: %11px;
  font-family: %12;
}

QLabel
{
  color: %3;
  font-size: %11px;
  font-family: %12;
}

QLabel::!enabled
{
  color: gray;
  font-size: %11px;
  font-family: %12;
}

QDialog
{
  background-color: %2;
  font-family: %12;
}

QGroupBox
{
    background-color: %2;
    color: %3;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 1ex;
    font-size: %11px;

}


QComboBox {
    border: 1px solid %4;
    border-radius: 3px;
    background-color: %2;
    color: %3;
    font-size: %11px;
}

QComboBox:!enabled {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: %2;
    color: gray;
    font-size: %11px;
}

QComboBox:!editable, QComboBox::drop-down:editable
{
  selection-background-color: %4;
  selection-color: %3;
}

QComboBox::down-arrow
{
  image: url(%8);
  width: 12px;
}

QComboBox::drop-down {
    width: 24px;
    border-left: 1px solid %5;
    background-color: %5;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
QComboBox::drop-down:!enabled {
    width: 24px;
    border-left: 1px solid gray;
    background-color: gray;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

QComboBox QAbstractItemView
{
  background-color: %2;
  color: %3;
  selection-background-color: %4;
  selection-color: %3;
  border: 1px solid %4;
}


QListView
{
  outline: 0;
}



QLineEdit
{
  background-color: %2;
  border: 1px solid %2;
  border-bottom: 2px solid lightgray;
  color: %3;
}

QLineEdit:focus
{
  background-color: %2;
  border: 1px solid %2;
  border-bottom: 2px solid %5;
  color: %3;
  font-family: %12;
}

QLineEdit:!enabled
{
  background-color: %2;
  border: 1px solid %2;
  border-bottom: 2px solid gray;
  color: gray;
  font-family: %12;
}

QSlider::groove:horizontal {
    height: 5px;
    background-color: %4;
    border: 1px solid %2;
}


QSlider::handle:horizontal {
    background-color: %5;
    width: 10px;
    height: 5px;
    margin: -5px 0;
    border: 1px solid %5;
    border-radius: 6px;
    /*border: 1px solid %11;*/

}

QSlider::handle:horizontal:!enabled {
    background-color: gray;
    width: 10px;
    height: 5px;
    margin: -5px 0;
    border: 1px solid gray;
    border-radius: 6px;
}

QSlider::sub-page:horizontal {
    background-color: %5;
    /*border: 1px solid %11;*/
}

QSlider::sub-page:horizontal:!enabled {
    background-color: gray;
    border: 1px solid gray;
}

QTreeView
{
  background-color: %2;
  color: %3;
  show-decoration-selected: 1;
  outline: 0;
  border: 1px solid %2;
  font-family: %12;
}

QTreeView::item:hover {
    background-color: %4;
    font-family: %12;
}

QTreeView::item:selected {
    background-color: %4;
    color: %3;
    font-family: %12;
}

QHeaderView::section
{
  background-color: %2;
  color: %3;
  border: 1px solid %2;
  border-bottom: 1px solid %4;
  font-size: 15px;
  font-family: %12;
}

QScrollBar
{
    background-color: %4;
}

QScrollBar:vertical {
  border: 2px solid %4;
  width: 20px;
  margin: 0px 0px 0px 0px;
  background-color: %4;
}


QScrollBar::handle:vertical {
  background-color: %2;
  border: 0px solid %2;
  min-height: 20px;
  border-radius: 7px;
}

QScrollBar::add-line:vertical {
  height: 0px;
}

QScrollBar::sub-line:vertical {
  height: 0px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background-color: %4;
}


QScrollBar:horizontal {
  border: 2px solid %4;
  height: 20px;
  margin: 0px 0px 0px 0px;
  background-color: %4;
}


QScrollBar::handle:horizontal {
  background-color: %2;
  border: 0px solid %2;
  min-width: 0px;
  border-radius: 7px;
}

QScrollBar::add-line:horizontal {
  width: 0px;
}

QScrollBar::sub-line:horizontal {
  width: 0px;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
  background-color: %4;
}


QSplitter::handle
{
  background-color: %4;
}



QWidget
{
  background-color: %2;
  color: %3;
}

TextEdit
{
  background-color: %13;
  selection-background-color: #2785ff;
  selection-color: white;
  color: %14;
  font-family: %15;
  font-size: %16px;
}

ImageViewer
{
  background-color: %13;
}
